<h1>Please enter zip code and select issue</h1>
<%= form_tag search_path, method: :get do %>
<%= text_field_tag 'keyword', nil %>
<% end %>


<select name="Issue">
  <option value="">Please select issue</option>
  <option value="2">Environment</option>
  <option value="3">Health</option>
  <option value="3">Taxes</option>
</select>

<%= submit_tag "Search" %>

<% if @districts.present? %>
    <% @districts.each do |dis| %>
    District <%= dis.district.capitalize %>
    <%= dis.zip %>
    <%= dis.vote_id %>
    <%= dis.pol_id %>
    <% end %>
  <% else %>
    <p> No Zip Located</p>
<% end %>

